Repository ElektraInitiative/libelektra, pull requests merged in 2019-12, with the labels that each got.

#3277 KConfig Set
  doc/news/_preparation_next_release.md
  src/plugins/kconfig/CMakeLists.txt
  src/plugins/kconfig/README.md
  src/plugins/kconfig/file_utility.cpp
  src/plugins/kconfig/kconfig.cpp
  src/plugins/kconfig/kconfig/meta_example.h
  src/plugins/kconfig/kconfig/meta_examplerc
  src/plugins/kconfig/kconfig/simple_example.h
  src/plugins/kconfig/kconfig/test_valid.h
  src/plugins/kconfig/kconfig/test_validrc
  src/plugins/kconfig/kconfig_delegate.cpp
  src/plugins/kconfig/kconfig_serializer.cpp
  src/plugins/kconfig/kconfig_serializer.hpp
  src/plugins/kconfig/testmod_kconfig.cpp
Labels: ready to merge

#3316 YAML CPP: Add Newline at End of Output
  doc/news/_preparation_next_release.md
  src/plugins/yamlcpp/write.cpp
Labels: enhancement, lang/cpp, ready to merge

#3319 Versioning
  CMakeLists.txt
  doc/VERSION.md
  doc/api_blueprints/elektrad.apib
  doc/api_blueprints/snippet-sharing.apib
  doc/api_blueprints/webd.apib
  doc/news/_preparation_next_release.md
  scripts/build/run_icheck
  scripts/cmake/ElektraConfig.cmake.in
  scripts/cmake/Modules/FindGLib.cmake
  src/bindings/glib/gelektra-constants.h.in
  src/bindings/glib/gelektra-kdb.h
  src/bindings/swig/common.i
  src/bindings/swig/lua/tests/test_kdb.lua
  src/bindings/swig/python/tests/test_kdb.py
  src/bindings/swig/ruby/kdb.i
  src/include/kdb.h.in
  src/include/kdbinternal.h
  src/include/kdbversion.h.in
  src/plugins/constants/README.md
  src/plugins/constants/constants.c.in
  src/tools/web/elektrad/src/index.js
  src/tools/web/elektrad/src/versions.js
  src/tools/web/kdb.js
  src/tools/web/webd/src/index.js
  src/tools/web/webd/src/versions.js
  src/tools/website-backend/config-specification.ini.in
  src/tools/website-backend/root_application.cpp
Labels: ready to merge

#3329 Various Minor Enhancements
  .travis.yml
  doc/news/_preparation_next_release.md
  scripts/cmake/Modules/LibAddTest.cmake
  scripts/completion/kdb.fish
  src/bindings/cpp/tests/CMakeLists.txt
  src/bindings/swig/python/CMakeLists.txt
  src/plugins/yanlr/CMakeLists.txt
  src/tools/kdb/gen/templates/collect.sh
Labels: enhancement, lang/cmake, lang/shell, ready to merge

#3328 Plugins: Use Explicit Typing
  doc/news/_preparation_next_release.md
  src/plugins/augeas/CMakeLists.txt
  src/plugins/augeas/augeas.c
  src/plugins/base64/base64_functions.c
  src/plugins/blockresolver/CMakeLists.txt
  src/plugins/blockresolver/blockresolver.c
  src/plugins/internalnotification/internalnotification.c
Labels: enhancement, lang/c, ready to merge

#3333 CMake: Require CMake 3.4
  CMakeLists.txt
  doc/TESTING.md
  doc/news/_preparation_next_release.md
  examples/codegen/econf/cmake/CMakeLists.txt
  examples/codegen/menu/cmake/CMakeLists.txt
  examples/codegen/tree/cmake/CMakeLists.txt
  scripts/cmake/Modules/FindAugeas.cmake
  scripts/cmake/Modules/LibFindMacros.cmake
  scripts/completion/CMakeLists.txt
  scripts/docker/debian/jessie/Dockerfile
  scripts/jenkins/Jenkinsfile
  scripts/vagrant/debian/jessie64/.gitignore
  scripts/vagrant/debian/jessie64/README.md
  scripts/vagrant/debian/jessie64/Vagrantfile
  scripts/vagrant/debian/jessie64/buildelektra.sh
  scripts/vagrant/debian/jessie64/provision.sh
  src/bindings/gsettings/CMakeLists.txt
  tests/CMakeLists.txt
Labels: build, cleanup, lang/cmake, ready to merge

#3324 Cache fix synopsis
  doc/news/_preparation_next_release.md
  src/tools/kdb/cache.hpp
Labels: ready to merge

#3336 Check Formatting: Undo Formatting Changes at End
  doc/news/_preparation_next_release.md
  tests/shell/check_formatting.sh
Labels: bug, build, lang/shell, ready to merge

#3337 Style: Reformat Code With cmake-format 0.6.3
  .cirrus.yml
  .travis.yml
  doc/CODING.md
  doc/news/_preparation_next_release.md
  scripts/cmake/Modules/FindXercesC.cmake
  scripts/cmake/Modules/LibAddLib.cmake
  scripts/dev/reformat-cmake
  scripts/docker/debian/buster/Dockerfile
  scripts/docker/debian/sid/Dockerfile
  scripts/docker/debian/stretch/Dockerfile
  scripts/vagrant/ubuntu/artful32/Vagrantfile
  src/bindings/intercept/env/src/CMakeLists.txt
  src/libs/elektra/CMakeLists.txt
  src/libs/tools/src/CMakeLists.txt
  tests/CMakeLists.txt
Labels: enhancement, lang/cmake, ready to merge
